{
  "extends": [
    "plugin:react/recommended",
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2022
  }
}
